@import 'src/style/variables';

.modal {
  position: absolute;
  z-index: 110;
  display: flex;
  flex-direction: column;
  width: $base * 82.5;
  min-height: $base * 42.5;
  padding: $base * 8 $base * 8.5 $base * 5;
  text-align: center;
  background: $color-secondary-100;
  border-radius: $base * 3.5;
  box-shadow: $base * 0.5 $base * 5 $base * 10 rgba($color-secondary-700, 0.16);
}

.title {
  font-size: $fz-xl;
}

.body {
  flex-grow: 1;
  margin-top: $base * 1.5;
  font-size: $fz-xs;
  font-weight: $fw-medium;
  color: $color-secondary-500;
}

.btns {
  display: flex;
  gap: $base * 2.5;
  justify-content: center;
  margin-top: $base * 6;
}

.cancel,
.delete {
  width: $base * 30;
  height: $base * 10.5;
  font-size: $fz-xs;
  border-radius: $base * 3;
}

.cancel {
  color: $color-secondary-400;
  background: $color-secondary-100;
  border: $base * 0.5 solid rgba($color-secondary-400, 0.2);

  &:hover {
    border: $base * 0.5 solid rgba($color-secondary-400, 0.5);
  }
}

.delete {
  color: $color-secondary-100;
  background: $color-danger-200;

  &:hover {
    background: $color-danger-300;
  }
}
