@import 'src/style/variables';

.list {
  display: flex;
  flex-wrap: wrap;
  gap: $base * 4;
  margin-top: $base * 6.5;
}

.title {
  width: $base * 64;
  height: $base * 6;
  margin-top: $base * 7.5;
  background: linear-gradient(
    110deg,
    $color-skeleton-end 0%,
    $color-skeleton-center 20%,
    $color-skeleton-end 45%
  );
  background-size: 200% 100%;
  border-radius: $base * 8;
  opacity: 0.2;
  animation: shine $transition-long linear infinite;
}

.note {
  width: $base * 87.5;
  height: $base * 40;
  background: linear-gradient(
    110deg,
    $color-skeleton-end 0%,
    $color-skeleton-center 20%,
    $color-skeleton-end 45%
  );
  background-size: 200% 100%;
  border-radius: $base * 2.5;
  opacity: 0.2;
  animation: shine $transition-long linear infinite;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: $base * 7.5;
  background-color: $color-skeleton-line;
}

@keyframes shine {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: -200%;
  }
}
