@import 'src/style/variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: $base * 3;
  flex-wrap: wrap;
  z-index: 100;
  min-width: 100vw;
  min-height: $base * 20;
  padding: $base * 3 $base * 15;
  background: rgba($color-secondary-100, 0.7);
  backdrop-filter: blur($base * 12.5);

  @media (max-width: $breakpoint-sm-max) {
    padding: $base * 3 $base * 10;
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: $base * 3 $base * 4;
  }
}

.btn {
  &::before {
    display: block;
    width: $base * 4.5;
    height: $base * 4.5;
    margin-right: $base * 1;
    content: '';
    background: url('../UI/icons/scss/add-circle.svg') 0 0/100% 100%;
  }
}

.logo {
  margin-right: $base * 10;
  cursor: pointer;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $base * 9;
  padding: 0 $base * 4;
  font-size: $fz-xs;
  font-weight: $fw-bold;
  cursor: pointer;
  background: $color-secondary-100;
  border: 1px solid $color-primary-100;
  border-radius: $base * 2.5;

  & svg {
    margin-left: $base;

    &:hover {
      & path {
        fill: $color-danger-200;
      }
    }
  }

  &:hover {
    background: $color-secondary-200;
  }

  &:has(svg:hover) {
    background: $color-danger-50;
  }
}

.search {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: $base * 25;

  input {
    transition: $transition;
  }

  input:focus {
    width: 100%;
  }

  input::placeholder {
    color: $color-secondary-400;
    font-weight: $fw-semi-bold;
    -webkit-text-fill-color: $color-secondary-400;
  }

  input:focus::placeholder {
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: $breakpoint-sm-max) {
    margin-left: 0;
  }
}

.add {
  margin-left: $base * 2;
}

.login {
  margin-left: auto;
}
