@import 'src/style/variables';

.title {
  flex: 0 1 $base * 225;
  font-size: $fz-big-title;
  font-weight: $fw-bold;

  input {
    width: 100%;
    font-weight: $fw-bold;
    color: $color-secondary-700;

    &::placeholder,
    &:focus::placeholder {
      color: $color-secondary-700;
    }
  }

  @media (max-width: $breakpoint-md-max) {
    font-size: $fz-xxxl;
  }

  @media (max-width: $breakpoint-sm-max) {
    font-size: $fz-xxl;
  }

  @media (max-width: $breakpoint-xs-max) {
    font-size: $fz-xl;
  }
}

.text {
  width: 100%;
  min-height: $base * 25;
  margin-top: $base * 7.5;
  font-size: $fz-xl;
  font-weight: $fw-regular;
  line-height: 1.3;
  color: $color-secondary-600;

  @media (max-width: $breakpoint-xs-max) {
    font-size: $fz-s;
  }
}
