@import 'src/style/variables.scss';

.main {
  padding: $base * 8.5 $base * 15 $base * 15;

  @media (max-width: $breakpoint-sm-max) {
    padding: $base * 8.5 $base * 10;
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: $base * 8.5 $base * 4;
  }
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $base * 4;
}
