@import 'src/style/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  gap: $base * 3;
  padding-top: $base * 15;
}

.page {
  padding: 0;
  display: flex;
  justify-content: center;
  width: $base * 8;
  height: $base * 8;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  color: $color-secondary-100;
  background-color: $color-primary-600;
}
