@import 'src/style/variables.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer {
  position: relative;
  display: inline-block;
  height: $base * 11.5;
  width: $base * 11.5;
  margin: 1em;
  border-radius: 50%;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: $base * 2.25;
    left: $base * 2.25;
    display: block;
    height: $base * 7;
    width: $base * 7;
    background: $color-secondary-200;
    border-radius: 50%;
  }

  & > span {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
  }
}

.left {
  left: 0;
}

.right {
  left: 49%;
}

.anim {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: $base * 250;
  background: $color-primary-600;
  opacity: 0.8;
  animation: rotate-left 1.5s infinite;
  transform-origin: 0 50% 0;
}

.left .anim {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.right .anim {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  left: -100%;
  transform-origin: 100% 50% 0;
}

.outer .anim {
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.outer .right .anim {
  animation-name: rotate-right;
  animation-delay: 0.75s;
}

@keyframes rotate-right {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
