@import 'src/style/variables.scss';

.select {
    min-width: $base * 65;
    height: $base * 9;
    padding: $base * 2 $base * 4;
    font-size: $fz-xs;
    font-weight: $fw-semi-bold;
    color: $color-secondary-500;
    background: $color-secondary-100 url('./../../../img/arrow-down.svg') $base *
      58 center no-repeat;
    cursor: pointer;
    border: 1px solid $color-primary-50;
    border-radius: $base * 2.5;
    appearance: none;

    &:hover {
      color: $color-primary-500;
    }
}
