@import 'src/style/variables.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: $base * 20;
  min-width: 100vw;
  padding: 0 $base * 15;

  @media (max-width: $breakpoint-xs-max) {
    flex-direction: column;
    gap: $base * 6;
    padding-bottom: $base * 2;
  }
}

.left {
  width: $base * 25;
}

.logo {
  text-align: center;
  font-size: $fz-xs;
}

.subtitle {
  margin-top: $base;
  color: $color-secondary-400;
  font-size: $fz-small-footer;
  font-weight: $fw-semi-bold;
}

.develop {
  width: $base * 25;
  text-align: right;
  font-size: $fz-xxxs;
  font-weight: $fw-semi-bold;
  line-height: 1.2;

  @media (max-width: $breakpoint-xs-max) {
    text-align: left;
  }
}

.develop_title {
  color: $color-secondary-400;
  font-size: $fz-small-footer;
}
