@import 'src/style/variables';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $base * 20;
  padding: 0 $base * 11;

  @media (max-width: $breakpoint-sm-max) {
    flex-direction: column;
    gap: $base * 6;
    padding-bottom: $base * 2;
  }
}

.left {
  width: $base * 25;
}

.logo {
  font-size: $fz-xs;
  text-align: center;
}

.subtitle {
  margin-top: $base;
  font-size: $fz-small-footer;
  font-weight: $fw-semi-bold;
  color: $color-secondary-400;
}

.develop {
  width: $base * 25;
  font-size: $fz-xxxs;
  font-weight: $fw-semi-bold;
  line-height: 1.2;
  text-align: right;

  @media (max-width: $breakpoint-sm-max) {
    text-align: center;
  }
}

.develop-title {
  font-size: $fz-small-footer;
  color: $color-secondary-400;
}
