@import 'src/style/variables';

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: $base * 4;
  align-items: center;
  margin-top: $base * 7.5;
}

.favorites {
  display: flex;
  align-items: center;
  width: $base * 31;
  height: $base * 9;
  padding: $base * 2 $base * 3;
  font-size: $fz-xs;
  font-weight: $fw-semi-bold;
  line-height: 1.1;
  color: $color-secondary-700;
  cursor: pointer;
  background: $color-secondary-100;
  border: 1px solid $color-primary-100;
  border-radius: $base * 2.5;

  & svg {
    margin-right: $base * 1;
  }

  & path {
    stroke: $color-secondary-700;
  }

  &:hover {
    border: 1px solid rgba($color-danger-200, 0.4);

    & path {
      stroke: rgba($color-danger-200, 0.4);
    }
  }
}

.tags {
  margin-top: $base * 4;
}

.active {
  font-weight: $fw-bold;
  color: $color-secondary-100;
  background: $color-danger-200;

  /* stylelint-disable-next-line no-descending-specificity */
  & path {
    fill: $color-secondary-100;
    stroke: $color-secondary-100;
  }

  &:hover {
    background: $color-danger-300;

    & path {
      stroke: $color-secondary-100;
    }
  }
}

.lazy {
  font-size: $fz-xs;
  font-weight: $fw-semi-bold;
  color: $color-secondary-700;
}
