@import 'src/style/variables.scss';

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: $base * 7.5;
  gap: $base * 4;
}

.favorites {
  display: flex;
  align-items: center;
  width: $base * 31;
  height: $base * 9;
  padding: $base * 2 $base * 3;
  font-size: $fz-xs;
  font-weight: $fw-semi-bold;
  color: $color-secondary-500;
  line-height: 1.1;
  cursor: pointer;
  background: $color-secondary-100;
  border: 1px solid $color-primary-50;
  border-radius: $base * 2.5;

  & svg {
    margin-right: $base * 1;
  }
  
  & path {
    stroke: $color-secondary-500;
  }

  &:hover {
    border: 1px solid $color-danger-medium;

    & path {
      stroke: $color-danger-medium;
    }
  }
}

.tags {
  margin-top: $base * 4;
}

.active {
	font-weight: $fw-bold;
  color: $color-secondary-100;
  background: $color-danger;

  & path {
    fill: $color-secondary-100;
    stroke: $color-secondary-100;
  }
}
