@import 'src/style/variables.scss';

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $base * 3;

  select {
    min-width: $base * 43;
    cursor: pointer;
    color: $color-secondary-400;

    &:hover {
      color: $color-primary-500;
    }
  }
}
