@import 'src/style/variables.scss';

.input {
  width: $base * 65;
  height: $base * 10.5;
  padding: $base * 3.5 $base * 4;
  font-size: $fz-xs;
  font-weight: $fw-bold;
  color: $color-secondary-500;
  background-color: $color-secondary-100;
  border: 1px solid $color-primary-50;
  border-radius: $base * 2.5;
  caret-color: $color-primary-500;
  -webkit-box-shadow: inset 0 0 0 50px $color-secondary-100;
  -webkit-text-fill-color: $color-secondary-500;

  &:focus {
    border: 2px solid $color-primary-500;
  }
}

