@import 'src/style/variables.scss';

.note {
  display: flex;
  flex: 0 0 31%;
  flex-direction: column;
  justify-content: space-between;
  min-width: $base * 87.5;
  min-height: $base * 32.5;
  padding: $base * 4.5 $base * 7.5 $base * 5;
  background-color: $color-secondary-100;
  border-radius: $base * 2.5;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 8px 45px rgba(20, 44, 89, 0.2);

    [class^='note_title'] {
      color: $color-primary-500;
    }
  }
}

.title {
  font-size: $fz-l;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btns {
  display: flex;
  height: $base * 3.5;
  margin-top: $base * 2;
  font-size: $fz-xlxxs;
  font-weight: $fw-bold;
  color: $color-secondary-300;

  button {
    display: flex;
    align-items: center;

    svg {
      margin-right: $base;
    }
  }
}

.pin,
.favorites {
  position: relative;
  margin-right: $base * 4;

  &::after {
    display: block;
    position: absolute;
    right: -$base * 2;
    bottom: 50%;
    width: $base;
    height: $base;
    content: '';
    border-radius: 50%;
    background-color: $color-secondary-300;
    transform: translate(50%, 50%);
  }
}

.pin {
  &:hover {
    color: $color-primary-500;

    [class='pin'] {
      stroke: $color-primary-500;
    }

    [class='unpin'] {
      stroke: $color-primary-500;
      fill: $color-primary-500;
    }
  }
}

.favorites {
  &:hover {
    color: $color-primary-500;

    path {
      stroke: $color-primary-500;
    }
  }
}

.in_favorites {
  color: $color-secondary-500;

  & path {
    stroke: $color-danger;
    fill: $color-danger;
  }
}

.remove {
  &:hover {
    color: $color-danger;

    path {
      stroke: $color-danger;
    }
  }
}

.body {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-size: $fz-xs;
  font-weight: $fw-medium;
  color: $color-secondary-300;
}

.content {
  position: relative;
  max-height: $base * 13;
  margin: $base * 1.5 0;
  line-height: 1.2;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    #7a8899 0%,
    rgba(122, 136, 153, 0.29) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.date {
  color: $color-gray;
  font-size: $fz-xxxs;
  font-weight: $fw-medium;
  letter-spacing: 0.02em;
}
