@import 'src/style/variables';

.note {
  display: flex;
  flex: 0 0 31%;
  flex-direction: column;
  justify-content: space-between;
  min-width: $base * 87.5;
  min-height: $base * 40;
  padding: $base * 4.5 $base * 12 $base * 4 $base * 5;
  cursor: pointer;
  background-color: $color-secondary-100;
  border: 1px solid $color-primary-200;
  border-radius: $base * 2.5;

  &:hover {
    box-shadow: $base * 0.5 $base * 2 $base * 11 $color-shadow-note;

    [class^='note_title'] {
      color: $color-primary-600;
    }
  }

  @media (max-width: $breakpoint-xlg-max) {
    flex: 0 0 49%;
  }

  @media (max-width: $breakpoint-md-max) {
    flex: 0 0 99%;
  }

  @media (max-width: $breakpoint-sm-max) {
    flex: 0 0 47%;
    min-width: $base * 34;
	min-height: $base * 35;
    padding: $base * 3 0 $base * 2;
  }

  @media (max-width: $breakpoint-xs-max) {
    flex: 0 0 99%;
  }
}

.title {
  overflow: hidden;
  font-size: $fz-l;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: $breakpoint-sm-max) {
	padding: 0 $base * 4;
    font-size: $fz-m;
  }
}

.content {
  position: relative;
  max-height: $base * 13;
  margin: $base * 1.5 0;
  overflow: hidden;
  line-height: 1.2;
  background: linear-gradient(
    180deg,
    $color-secondary-500 0%,
    rgba($color-secondary-500, 0.29) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* stylelint-disable-next-line property-no-unknown */
  text-fill-color: transparent;

  svg {
    margin-right: $base;
  }

  @media (max-width: $breakpoint-sm-max) {
	max-height: $base * 10;
	padding: 0 $base * 4;
  }
}

.btns {
  display: flex;
  height: $base * 3.5;
  margin-top: $base * 2.75;
  font-size: $fz-xxs;
  font-weight: $fw-bold;
  color: $color-secondary-400;

  button {
    display: flex;
    align-items: center;

    svg {
      margin-right: $base;
    }
  }

  @media (max-width: $breakpoint-sm-max) {
    justify-content: space-evenly;
    height: $base * 5;
	padding: $base * 1.5 $base * 4 0;
    border-top: 1px solid $color-primary-200;

    span {
      display: none;
    }
  }
}

.pin,
.favorites {
  position: relative;
  margin-right: $base * 4;

  &::after {
    position: absolute;
    right: -$base * 2;
    bottom: 50%;
    display: block;
    width: $base;
    height: $base;
    content: '';
    background-color: $color-secondary-400;
    border-radius: 50%;
    transform: translate(50%, 50%);

    @media (max-width: $breakpoint-sm-max) {
      display: none;
    }
  }
}

.pin {
  &:hover {
    color: $color-primary-600;

    [class='pin'] {
      stroke: $color-primary-600;
    }

    [class='unpin'] {
      fill: $color-primary-600;
      stroke: $color-primary-600;
    }
  }
}

.in-favorites {
  color: $color-secondary-700;

  & path {
    fill: $color-danger-200;
    stroke: $color-danger-200;
  }

  &:hover {
    path {
      stroke: $color-danger-200;
    }
  }
}

.favorites {
  &:hover {
    color: $color-primary-600;

    path {
      stroke: $color-primary-600;
    }
  }
}

.remove {
  &:hover {
    color: $color-danger-200;

    path {
      stroke: $color-danger-200;
    }
  }
}

.body {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-size: $fz-xs;
  font-weight: $fw-medium;
  color: $color-secondary-400;

  @media (max-width: $breakpoint-sm-max) {
    font-size: $fz-xxs;
  }
}

.date {
  font-size: $fz-xxxs;
  font-weight: $fw-medium;
  color: rgba($color-secondary-400, 0.8);
  letter-spacing: 0.02em;

  @media (max-width: $breakpoint-sm-max) {
	padding: 0 $base * 4;
    font-size: $fz-small-footer;
  }
}
