@import 'src/style/variables.scss';

.main {
  padding: $base * 20 $base * 15 $base * 15;

  @media (max-width: $breakpoint-lg-max) {
    padding: $base * 30 $base * 15 $base * 15;
  }
  
  @media (max-width: $breakpoint-sm-max) {
    padding: $base * 30 $base * 10 $base * 8.5;
  }

  @media (max-width: 585px) {
    padding: $base * 30 $base * 10 $base * 8.5;
  }

  @media (max-width: 532px) {
    padding: $base * 54 $base * 10 $base * 8.5;
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: $base * 54 $base * 4 $base * 8.5;
  }
}

.line {
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: $color-primary-300;
}
