@import 'src/style/variables';

.main {
  flex-grow: 1;
  padding: $base * 20 $base * 10 $base * 15;
}

.line {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: $color-primary-400;
}
