@import 'src/style/variables.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-size: $fz-l;
  font-weight: $fw-bold;
  color: $color-secondary-500;
  background-color: $color-secondary-200;
}
