@import 'src/style/variables';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: $base * 291;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-size: $fz-l;
  font-weight: $fw-bold;
  color: $color-secondary-700;
  background-color: $color-secondary-200;
}

.scrollbar {
  background: transparent;
}
