@import 'src/style/variables';

.button {
  display: flex;
  align-items: center;
  height: $base * 8;
  padding: $base * 2 $base * 3.5 $base * 2 $base * 4;
  font-size: $fz-xs;
  font-weight: $fw-semi-bold;
  line-height: 1.4;
  color: $color-secondary-400;
  cursor: pointer;
  background-color: $color-secondary-100;
  border-radius: $base * 17.5;

  &:hover {
    color: $color-secondary-700;

    path {
      fill: $color-primary-500;
    }
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: $base $base * 2 $base $base * 2;
    font-size: $fz-xs;
  }
}

.active {
  font-weight: $fw-bold;
  color: $color-secondary-100;
  background-color: $color-primary-600;

  /* stylelint-disable-next-line no-descending-specificity */
  path {
    fill: $color-primary-500;
  }

  &:hover {
    color: $color-secondary-100;
  }
}
