@import 'src/style/variables.scss';

.button {
  display: flex;
  align-items: center;
  height: $base * 8;
  padding: $base * 2 $base * 3.5 $base * 2 $base * 4;
  font-size: $fz-s;
  font-weight: $fw-semi-bold;
  color: $color-secondary-300;
  cursor: pointer;
  background-color: $color-secondary-100;
  border-radius: $base * 17.5;

  &:hover {
    color: $color-secondary-500;

    path {
      fill: $color-primary-400;
    }
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: $base $base * 2 $base $base * 2;
    font-size: $fz-xs;
  }
}

.active {
  color: $color-secondary-100;
  font-weight: $fw-bold;
  background-color: $color-primary-500;

  path {
    fill: $color-primary-400;
  }
}
