@import 'src/style/variables.scss';

// === COMMON ===
body {
	font-family: 'Inter', sans-serif;
	background-color: $color-secondary-250;
}

body.block {
  overflow: hidden;
}

#root{
	display: flex;
	justify-content: center;
}

// === / COMMON ===

// === CONTENTEDITABLE ===
[class^='noteForm_text'] {
  & .chosen,
  & .tag {
    font-weight: $fw-bold;
    color: $color-primary-500;
  }

  & .chosen {
    background-color: $color-primary-200;
  }
}

[contenteditable='true']:empty::before {
  font-size: $fz-xl;
  font-weight: $fw-regular;
  line-height: 1.3;
  color: $color-secondary-400;
  content: attr(data-ph);

  @media (max-width: $breakpoint-xs-max) {
    font-size: $fz-s;
  }
}

// === / CONTENTEDITABLE ===

// === PLACEHOLDERS ===
input:focus::placeholder,
input::placeholder {
  color: $color-secondary-300;
  font-weight: $fw-semi-bold;
}

// === / PLACEHOLDERS ===

// === CLOSE-BUTTON IN SEARCH-INPUTS ===
input[type='search']::-webkit-search-cancel-button {
	appearance: none;
	width: $base * 2.5;
	height: $base * 2.5;
	background: url('../img/icon-search-clear.svg') 0 0/100% 100% no-repeat;
	cursor: pointer;
}

// === / CLOSE-BUTTON IN SEARCH-INPUTS ===

// === FAVORITES ===
[class^='filters_filters'] {
  button.active {
    color: $color-secondary-100;
    background: $color-danger;

    & path {
      stroke: $color-secondary-100;
      fill: $color-secondary-100;
    }
  }
}

// === / FAVORITES ===
