@import 'src/style/variables.scss';

// === COMMON ===
body.block {
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
}

// === / COMMON ===

// === CONTENTEDITABLE ===
[class^='editNote_text']{
	& .chosen,
	& .tag {
	  font-weight: $fw-bold;
	  color: $color-primary-500;
	}
  
	& .chosen {
	  background-color: $color-primary-200;
	}
}

[contenteditable='true']:empty::before {
  font-size: $fz-xl;
  font-weight: $fw-regular;
  line-height: 1.3;
  color: $color-secondary-400;
  content: attr(data-ph);

  @media (max-width: $breakpoint-xs-max) {
    font-size: $fz-s;
  }
}

// === / CONTENTEDITABLE ===

// === PLACEHOLDERS ===
input:focus::placeholder,
input::placeholder {
  color: $color-secondary-400;
}

// === / PLACEHOLDERS ===
