@import 'nullstyle.style.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// === MIXINS ===
@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

// === / MIXINS ===

// ===  FUNCTIONS ===
@function strip-unit($num) {
  $one-unit: $num * 0 + 1;

  @return calc($num / $one-unit);
}

@function rem($num) {
  @return (calc(strip-unit($num) / 16)) * 1rem;
}

// === / FUNCTIONS ===

// === VARIABLES ===
$breakpoint-sm-min: 500px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 650px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 850px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1050px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;

// common base
$base: rem(4px);

// font waights
$fw-regular: 400;
$fw-bold: 700;

// font sizes
$fz-xxs: rem(12px);
$fz-xs: rem(14px);
$fz-s: rem(16px);
$fz-m: rem(18px);
$fz-l: rem(20px);
$fz-xl: rem(22px);
$fz-xxl: rem(30px);
$fz-title-s: rem(38px);
$fz-title-m: rem(50px);
$fz-title-l: rem(70px);

// common transition
$transition: 0.2s;

// Primary color
$color-primary-100: #eff6ff;
$color-primary-200: #d9eaff;
$color-primary-300: #c4d8ff;
$color-primary-400: #79a6de;
$color-primary-500: #2266eb;
$color-primary-600: #0940ab;

// Secondary color
$color-secondary-100: #fff;
$color-secondary-200: #e2e8ef;
$color-secondary-300: #9eafc4;
$color-secondary-400: #5e5e5e;
$color-secondary-500: #000;

// Colors
$color-danger: #ff3232;

// Wrapper popup
$color-wrapper-popup: rgba(21, 25, 33, 0.9);
$color-btn-light: rgba(34, 102, 235, 0.15);

// === / VARIABLES ===

// === COMMON ===
body.block {
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $base * 15;
  font-weight: $fw-bold;
  color: $color-secondary-100;
  background-color: $color-primary-500;
  border-radius: $base * 25;

  @media (max-width: $breakpoint-md-max) {
    height: $base * 11;
    font-size: $fz-s;
  }

  &:hover {
    background-color: $color-primary-600;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: $fz-l;

  &__item {
    display: flex;
    align-items: center;
    height: $base * 9;
    padding: $base * 2 $base * 3.5 $base * 2 $base * 4;
    font-size: $fz-m;
    color: $color-primary-500;
    cursor: pointer;
    background-color: $color-primary-100;
    border-radius: $base * 17.5;

    @media (max-width: $breakpoint-md-max) {
      font-size: $fz-s;
    }

    @media (max-width: $breakpoint-xs-max) {
      padding: $base $base * 2 $base $base * 2;
      font-size: $fz-xs;
    }

    &.active {
      color: $color-secondary-100;
      background-color: $color-primary-500;

      path {
        fill: $color-primary-400;
      }
    }
  }

  &__item-close {
    display: block;
    width: $base * 4.5;
    height: $base * 4.5;
    margin-left: $base;

    &:hover {
      path {
        fill: $color-danger;
      }
    }
  }
}

// === / COMMON ===

// === WRAPPER ===
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-size: $fz-l;
  font-weight: $fw-bold;
  color: $color-secondary-500;
  background-color: $color-secondary-200;
}

// === / WRAPPER ===

// === HEADER ===
.header {
  padding: 0 $base * 15;

  @media (max-width: $breakpoint-sm-max) {
    padding: 0 $base * 10;
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: 0 $base * 4;
  }

  &__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $base * 52;

    @media (max-width: $breakpoint-md-max) {
      height: $base * 37.5;
    }

    @media (max-width: $breakpoint-sm-max) {
      flex-wrap: wrap;
      height: $base * 22.5;
    }
  }

  &__add {
    margin-left: auto;
  }

  &__lower {
    display: flex;
    gap: $base * 7.5;
    align-items: center;

    @media (max-width: $breakpoint-lg-max) {
      flex-wrap: wrap-reverse;
      gap: $base * 5;
    }

    @media (max-width: $breakpoint-sm-max) {
      margin-top: $base * 5;
    }
  }

  &__title {
    font-size: $fz-title-l;
    letter-spacing: -0.03em;

    @media (max-width: $breakpoint-md-max) {
      font-size: $fz-title-m;
    }

    @media (max-width: $breakpoint-sm-max) {
      font-size: $fz-title-s;
      //   display: none;
    }
  }

  &__btn {
    width: $base * 75;

    @media (max-width: $breakpoint-md-max) {
      width: $base * 57.5;
    }

    @media (max-width: $breakpoint-xs-max) {
      width: $base * 50;
    }

    &::before {
      display: block;
      width: $base * 6;
      height: $base * 6;
      margin-right: $base * 1.5;
      content: '';
      background: url('../img/add-circle.svg');
    }
  }

  &__tag-input {
    max-width: $base * 37.5;
    max-height: $base * 9;
    padding: $base * 2 $base * 3.5 $base * 2 $base * 4;
    font-size: $fz-m;
    font-weight: $fw-bold;
    color: $color-primary-500;
    background-color: $color-secondary-100;
    border-radius: $base * 17.5;

    @include keyframes(fade) {
      0% {
        width: 0;
      }

      100% {
        width: $base * 37.5;
      }
    }

    @include animate(fade, 0.3s, linear, 1);
  }

  &__tag-btn {
    display: block;
    min-width: $base * 35;
    max-height: $base * 5;
    font-size: $fz-m;
    font-weight: $fw-bold;
    color: $color-secondary-300;

    &:hover {
      color: $color-primary-500;
    }
  }
}

// === / HEADER ===

// === / MAIN ===
.main {
  padding: $base * 8.5 $base * 15 $base * 15;

  @media (max-width: $breakpoint-sm-max) {
    padding: $base * 8.5 $base * 10;
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: $base * 8.5 $base * 4;
  }

  &__notes {
    display: flex;
    flex-wrap: wrap;
    gap: $base * 4;
  }

  &__note {
    display: flex;
    flex: 0 0 31%;
    flex-direction: column;
    justify-content: space-between;
    min-width: $base * 87.5;
    min-height: $base * 32.5;
    padding: $base * 4.5 $base * 7.5 $base * 5;
    background-color: $color-secondary-100;
    border-radius: $base * 2.5;
    cursor: pointer;

    &:hover {
      .main__note-title {
        color: $color-primary-500;
      }
    }
  }

  &__note-title {
    font-size: $fz-l;
  }

  &__note-edit,
  &__note-remove {
    position: relative;
    padding-left: $base * 4.5;
    font-size: $fz-xxs;
    font-weight: $fw-bold;
    color: $color-secondary-300;

    &::before {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: $base * 3.5;
      height: $base * 3.5;
      content: '';
    }
  }

  &__note-remove {
    margin-left: $base * 6;

    &::before {
      background: url('../img/trash.svg') center no-repeat;
    }

    &:hover {
      color: $color-danger;

      &::before {
        background: url('../img/trash-hover.svg') center no-repeat;
      }
    }
  }

  &__note-edit {
    &::before {
      background: url('../img/edit.svg') center no-repeat;
    }

    &:hover {
      color: $color-primary-500;

      &::before {
        background: url('../img/edit-hover.svg') center no-repeat;
      }
    }

    &::after {
      display: block;
      position: absolute;
      right: -$base * 3;
      bottom: 50%;
      width: $base;
      height: $base;
      content: '';
      border-radius: 50%;
      background-color: $color-secondary-300;
      transform: translate(50%, 50%);
    }
  }
}

// === / MAIN ===

// === / EDIT ===
.edit-note {
  padding: $base * 15;
  background-color: $color-secondary-100;
  border-radius: $base * 5;

  @media (max-width: $breakpoint-sm-max) {
    padding: $base * 7.5;
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: $base * 7.5 $base * 2.5;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: $base * 34 $base * 15;
    overflow: auto;
    background: $color-wrapper-popup;
    transition: $transition;

    @include keyframes(fade) {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @include animate(fade, 0.3s, linear, 1);

    @media (max-width: $breakpoint-lg-max) {
      padding: $base * 15;
    }

    @media (max-width: $breakpoint-md-max) {
      padding: $base * 7.5;
    }

    @media (max-width: $breakpoint-xs-max) {
      padding: $base * 2.5;
    }
  }

  &__up {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $breakpoint-xs-max) {
      gap: $base * 2.5;
    }
  }

  &__title {
    flex: 0 1 $base * 225;
    font-size: $fz-title-m;
    font-weight: $fw-bold;

    input {
      color: $color-secondary-400;
      font-weight: $fw-bold;
      width: 100%;
    }

    @media (max-width: $breakpoint-md-max) {
      font-size: $fz-title-s;
    }

    @media (max-width: $breakpoint-sm-max) {
      font-size: $fz-xxl;
    }

    @media (max-width: $breakpoint-xs-max) {
      font-size: $fz-xl;
    }
  }

  &__close-up {
    position: relative;
    width: $base * 9;
    height: $base * 9;
    margin-left: auto;
    margin-right: $base;
    cursor: pointer;

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      width: $base * 12;
      height: $base;
      content: '';
      background-color: $color-secondary-300;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &:hover {
      &::after,
      &::before {
        background-color: $color-primary-500;
      }
    }

    // @media (max-width: $breakpoint-md-max) {
    //   padding: $base $base * 5;
    //   font-size: $fz-s;
    // }

    // @media (max-width: $breakpoint-xs-max) {
    //   padding: $base $base * 2.5;
    // }
  }

  &__text {
    width: 100%;
    min-height: $base * 25;
    max-height: $base * 42.5;
    margin-top: $base * 7.5;
    overflow: auto;
    font-size: $fz-xl;
    font-weight: $fw-regular;
    line-height: 1.3;
    color: $color-secondary-400;

    @media (max-width: $breakpoint-xs-max) {
      font-size: $fz-s;
    }

    & .chosen,
    & .tag {
      font-weight: $fw-bold;
      color: $color-primary-500;
    }

    & .chosen {
      background-color: $color-primary-200;
    }
  }

  &__tags {
    margin-top: $base * 7.5;
  }

  &__down {
    display: flex;
    justify-content: flex-end;
	align-items: flex-end;
	gap: $base * 5;
  }

  &__close-down {
    color: $color-primary-500;
    border: $base * 0.7 solid $color-btn-light;
    background-color: $color-secondary-100;

    &:hover {
      border: $base * 0.7 solid $color-primary-500;
      background-color: $color-secondary-100;
    }
  }

  &__save {
    margin-top: $base * 5;
  }

  &__close-down,
  &__save {
    width: $base * 65;

    @media (max-width: $breakpoint-md-max) {
      width: $base * 50;
    }

    @media (max-width: $breakpoint-xs-max) {
      width: $base * 30;
    }
  }
}

// for placeholders
[contenteditable='true']:empty::before {
  font-size: $fz-xl;
  font-weight: $fw-regular;
  line-height: 1.3;
  color: $color-secondary-400;
  content: attr(data-ph);

  @media (max-width: $breakpoint-xs-max) {
    font-size: $fz-s;
  }
}

input:focus::placeholder, input::placeholder {
  color: $color-secondary-400;
}

// === EDIT ===
