@import 'src/style/variables.scss';

.login {
  width: $base * 100;
  margin: 0 auto;
}

.title {
  margin-top: $base * 10;
  text-align: center;
  font-size: $fz-title-s;
  font-weight: $fw-bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $base * 16 $base * 13;
  gap: $base * 4;
  margin-top: $base * 14;

  input {
    width: 100%;
  }
}

.sub_btn {
  margin-top: $base * 8.5;
  font-size: $fz-xxs;
  color: $color-secondary-300;

  &:hover{
	text-decoration: underline;
  }
}

.error{
	border: 2px solid $color-danger;
}

.errors_box{
	width: 100%;
	padding: $base * 2.5 $base * 5;
	text-align: center;
	color: $color-danger;
	font-size: $fz-xlxxs;
	line-height: 1.5;
	background: $color-danger-regular;
	border-radius: $base * 2.5;
}
