@import 'src/style/variables.scss';

.list {
  margin: $base * 7.5 0;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: $base * 4;
  margin-top: $base * 5;
}

.title {
  display: inline;
  font-weight: $fw-bold;
  font-size: $fz-xxl;
}

.wrapper {
  margin-left: $base * 4;
  color: $color-secondary-300;
  font-size: $fz-xxs;
  cursor: pointer;
}

.counter {
  margin-left: $base * 2;
  font-weight: $fw-semi-bold;
  font-size: $fz-xxl;
  color: $color-secondary-300;
}
