@import 'src/style/variables';

.list {
  margin: $base * 7.5 0;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  gap: $base * 4;
  justify-content: flex-start;
  margin-top: $base * 5;
}

.title {
  display: inline;
  font-size: $fz-xxl;
  font-weight: $fw-bold;

  @media (max-width: $breakpoint-sm-max) {
    font-size: $fz-xl;
  }
}

.wrapper {
  margin-left: $base * 4;
  font-size: $fz-xxs;
  color: $color-secondary-400;
  cursor: pointer;
}

.counter {
  margin-left: $base * 2;
  font-size: $fz-xxl;
  font-weight: $fw-medium;
  color: $color-secondary-400;

  @media (max-width: $breakpoint-sm-max) {
    font-size: $fz-xl;
  }
}
