@import 'src/style/variables.scss';

.list {
	margin: $base * 7.5 0;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $base * 4;
  margin-top: $base * 5;
}

.title {
  display: inline;
  margin-right: $base * 4;
  font-weight: $fw-bold;
  font-size: $fz-xxl;
}

.wrap {
  color: $color-secondary-300;
  font-size: $fz-xxs;
  cursor: pointer;
}
