@import 'src/style/variables.scss';

.nav {
  display: flex;
  align-items: center;
  width: $base * 44;
  height: $base * 8;
  padding: $base * 2 $base * 3.5 $base * 2.5 $base * 4;
  font-size: $fz-xs;
  color: $color-secondary-400;
  background: $color-secondary-100;
  border: 1px solid $color-primary-100;
  border-radius: $base * 2.5;
}

.container {
  position: relative;
  margin: $base * 50 auto;
  width: $base * 195;
  text-align: center;

  @media (max-width: $breakpoint-md-max) {
    width: $base * 150;
  }

  @media (max-width: $breakpoint-sm-max) {
    width: $base * 100;
  }

  @media (max-width: $breakpoint-xs-max) {
    width: $base * 78;
    margin: $base * 34 auto;
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: $base * 100;
  font-weight: $fw-bold;
  color: $color-secondary-400;
  letter-spacing: -0.05em;
  opacity: 0.12;
  pointer-events: none;

  @media (max-width: $breakpoint-md-max) {
    font-size: $base * 70;
  }

  @media (max-width: $breakpoint-sm-max) {
    font-size: $base * 50;
  }

  @media (max-width: $breakpoint-xs-max) {
    font-size: $base * 30;
  }
}

.title {
  position: relative;
  margin-top: $base * 38;
  text-align: center;
  font-size: $fz-big-title;
  font-weight: $fw-bold;
  color: $color-secondary-700;

  @media (max-width: $breakpoint-md-max) {
    margin-top: $base * 28;
    font-size: $fz-xxxl;
  }

  @media (max-width: $breakpoint-sm-max) {
    margin-top: $base * 18;
    font-size: $fz-xl;
  }

  @media (max-width: $breakpoint-xs-max) {
    margin-top: $base * 32;
    font-size: $fz-m;
  }
}

.btn {
  position: relative;
  display: inline-block;
  margin-top: $base * 7.5;
}
