@import 'src/style/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100vw;
  height: $base * 20;
  padding: 0 $base * 15;
  background: rgba($color-secondary-100, 0.7);
  border-bottom: 1px solid $color-primary-100;
  backdrop-filter: blur($base * 12.5);

  @media (max-width: $breakpoint-xs-max) {
    padding: 0 $base * 7.5;
  }
}

.back {
  display: flex;
  align-items: center;
  font-size: $fz-xs;

  span {
    color: $color-secondary-400;
  }

  svg {
    margin-right: $base * 1.5;
  }

  &:hover {
    span {
      color: $color-secondary-700;
    }

    path {
      fill: $color-secondary-700;
    }
  }
}

.edit {
  min-height: 100vh;
  padding: $base * 40 $base * 15 $base * 10;
  background-color: $color-secondary-100;

  @media (max-width: $breakpoint-sm-max) {
    padding: $base * 40 $base * 7.5 $base * 7.5;
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: $base * 40 $base * 2.5 $base * 7.5;
  }
}

.file {
  margin-top: $base * 15;
}

.save-btn {
  width: $base * 34;

  @media (max-width: $breakpoint-xs-max) {
    width: $base * 30;
  }
}

.tags {
  margin-top: $base * 7.5;

  button {
    border: 1px solid $color-primary-200;
  }
}
